<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>User Registration</h2>
        </div>
        <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
          <div class="row">
            <div class="input-field col s6">
              <input class="validate" type="text" name="username" #userName="ngModel" [(ngModel)]="user.username" required>
              <label data-error="Required field!">UserName</label>
            </div>
            <div class="input-field col s6">
              <input class="validate" type="password" name="password" #Password="ngModel" [(ngModel)]="user.password" required  minlength="3">
              <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" type="text" name="email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
              <label data-error="Invalid email!">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="confirmpassword" #confirm_password="ngModel" [(ngModel)]="user.confirm_password">
              <label>confirm_password</label>
            </div>
            <div class="input-field col s6">
              <input type="text" name="roles" #roles="ngModel" [(ngModel)]="user.roles">
              <label>roles</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>