
<div class="mt-5">
    <div class="container">
        <div class="row text-left justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content">
                        <div class="px-3">
                            <form [formGroup]="LoginForm" class="LoginForm">
                                <div class="form-body">
    
    
                                    <div class="form-group">
                                        <label for="eventRegInput1">Email</label>
                                        <input formControlName="email" class="form-control" name="email" type="text">
    
                                        <small class="form-text text-muted danger"
                                        *ngIf="submitted && form.email.errors?.required">
                                            email is required
                                        </small>
                                    </div>
    
                                    <div class="form-group">
                                        <label for="eventRegInput1">Password</label>
                                        <input formControlName="password" class="form-control" name="password" type="password">
                                       
                                        <small class="form-text text-muted danger"
                                        *ngIf="submitted && form.password.errors?.required">
                                            password is required
                                        </small>
                                    </div>
    
                                    
                                    
                                </div>
                                <div class="form-actions center">
                                    <button class="btn btn-raised btn-warning mr-1"
                                        type="button"><i class="ft-x"></i> Cancel </button>
                                    <button
                                        class="btn btn-raised btn-primary" (click)='login()' type="button">
                                        <i class="fa fa-check-square-o"></i> Save </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>